boto3==1.9.131
botocore==1.12.131
docutils==0.14
futures==3.2.0
gitdb2==2.0.5
GitPython==2.1.11
jmespath==0.9.4
parse==1.8.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.92
s3transfer==0.2.0
six==1.12.0
smmap2==2.0.5
tabulate==0.8.3
urllib3==1.24.1
